* {
  margin: 0;
  padding: 0;
  /* color: white; */
}
body {
  background-color: #001d3d;
}

.title {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#content {
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  grid-template-rows: 0.4fr 1fr;
  grid-template-areas:
    "header header"
    "main main";
  /* border: 5px solid white; */
}
.header {
  grid-area: header;
  display: flex;

  flex-direction: column;
  /* border: 5px solid white; */
  padding: 20px;
}
.title {
  color: #fefae0;
  align-self: center;
  font-size: 47px;
}

.logo {
  display: block;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  border-radius: 50%;
  opacity: 60%;
}

img {
  display: block;
}
.main-container {
  grid-area: main;
  /* border: 5px dotted red; */
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 0.4fr;
  grid-template-rows: auto;
  grid-template-areas: "item sideline";
  color: black;
  height: 100%;
  margin: 20px;
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 33px;
  padding: 23px;
}
.item-container {
  grid-area: item;
  /* border: 5px solid white; */
  background-color: #003566;
  border-radius: 9%;
  color: #fefae0;
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 33px;
  padding: 23px;
}
.side-container {
  grid-area: sideline;
  background-color: #ffc300;
  color: black;
  padding: 23px;
  border-radius: 11%;
}
.side-title,
.item-title {
  font-size: 43px;
  padding-bottom: 17px;
}

.project,
.task {
  font-size: 23px;
  background-color: #001d3d;
  margin: 10px;
  border-radius: 9%;
  height: 50px;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 50px 50px 50px;
  gap: 10px;
  align-items: center;
  align-content: center;
}
.edit,
.delete,
.done,
.save-project,
.cancel-project,
input,
select {
  height: 35px;
  background-color: #ffd60a;
  color: black;
  /* width: 50px; */
  /* border-radius: 21%; */
}
.edit {
  grid-column-start: 3;
}
.project {
  background-color: #ffd60a;
}
button.task {
  background-color: #ffd60a;
  display: flex;
}
button.project {
  background-color: #001d3d;
  color: #fefae0;
  display: flex;
}
button.project:hover {
  opacity: 100%;
}
.new-project {
  display: grid;
  flex-basis: 20em;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "input input"
    "save cancel";
  padding: 10px;
  gap: 10px;
  align-items: center;
  align-content: center;
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

input.add-project-title {
  background-color: #001d3d;
  color: #fefae0;
  font-size: 31px;
  border-radius: 3%;
  grid-area: input;
  width: auto;
  /* margin: 10px; */
}
button.cancel-project {
  font-size: 25px;
}
button.save-project {
  grid-area: save;
  font-size: 25px;
}
button:hover {
  background-color: #003566;
  color: #fefae0;
}
.new-task-container {
  display: grid;
  color: black;
  width: auto;
  padding: 13px;
  gap: 9px;
  /* background-color: #ffc300; */
  /* font-size: 27px; */
}
.new-task-container > input,
.new-task-container > select {
  font-size: 25px;
  border: 2px solid #003566;
}
.task-button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 10px;
  gap: 10px;
  align-items: center;
  align-content: center;
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}
button.save-task,
button.cancel-task {
  background-color: #ffd60a;
  height: 35px;
  color: black;
  font-size: 25px;
}
a.project.active {
  background-color: #fefae0;
}
