* {
  margin: 0;
  padding: 0;
  /* color: white; */
}
body {
  background-color: #001d3d;
}

button {
  background-color: orangered;
}
.title {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#content {
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  grid-template-rows: 0.4fr 1fr;
  grid-template-areas:
    "header header"
    "main main";
  /* border: 5px solid white; */
}
.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  /* border: 5px solid white; */
  padding: 20px;
}
.title {
  color: white;
  align-self: center;
  font-size: 47px;
}

.logo {
  display: block;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  border-radius: 50%;
}

img {
  display: block;
}
.main-container {
  grid-area: main;
  /* border: 5px dotted red; */
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 0.4fr;
  grid-template-rows: auto;
  grid-template-areas: "item sideline";
  color: black;
  height: 100%;
  margin: 20px;
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 33px;
  padding: 23px;
}
.item-container {
  grid-area: item;
  /* border: 5px solid white; */
  background-color: #003566;
  border-radius: 9%;
  color: white;
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 33px;
  padding: 23px;
}
.side-container {
  grid-area: sideline;
  background-color: #ffc300;
  color: black;
  padding: 23px;
  border-radius: 11%;
}
.side-title {
  font-size: 43px;
  padding-bottom: 17px;
}
button.new-project {
  background-color: #ffd60a;
  border: none;
  height: 27px;
  width: 200px;
}
.project {
  font-size: 23px;
}
